// default: resume
resume = true
process.container= 'quay.io/genepi/gwas-regenie:v0.1.2'

manifest {
name            = 'gwas-regenie'
version         = '0.1.2'
description     = 'Nextflow GWAS pipeline using regenie'
author          = 'Lukas Forer, Sebastian Schönherr'
homePage        = 'https://github.com/genepi/gwas-regenie'
mainScript      = 'gwas-regenie.nf'
nextflowVersion = '!>=21.04.0'
}

profiles {
    debug { process.beforeScript = 'echo $HOSTNAME' }

    standard {
        docker.enabled         = true
        docker.userEmulation   = true
        singularity.enabled    = false
    }
    singularity {
        singularity.enabled    = true
        singularity.autoMounts = true
        docker.enabled         = false
    }

}
