// default: resume
resume = true


profiles {
    debug { process.beforeScript = 'echo $HOSTNAME' }

    standard {
        process.container= 'genepi/gwas-regenie:latest'
        docker.enabled         = true
        docker.userEmulation   = true
        singularity.enabled    = false
    }
    singularity {
        process.container = 'gwas-regenie.sif'
        singularity.enabled    = true
        singularity.autoMounts = true
        docker.enabled         = false
    }

    manifest {
    name            = 'gwas-regenie'
    author          = 'Lukas Forer, Sebastian Schönherr'
    homePage        = 'https://github.com/lukfor/gwas-regenie'
    description     = 'Nextflow GWAS Pipeline.'
    mainScript      = 'main.nf'
    nextflowVersion = '!>=21.04.0'
    version         = '0.1'
}

}
