
manifest {
    name                                  = 'nf-gwas'
    version                               = '0.3.5'
    description                           = 'A Nextflow GWAS pipeline.'
    author                                = 'Lukas Forer and Sebastian Schönherr'
    homePage                              = 'https://github.com/genepi/nf-gwas'
    mainScript                            = 'main.nf'
    nextflowVersion                       = '!>=21.04.0'
}

// Global default params, used in configs
params {

    //Required inputs
    project                               = null
    genotypes_array                       = null
    genotypes_imputed                     = null
    genotypes_build                       = null
    genotypes_imputed_format              = null
    phenotypes_filename                   = null
    phenotypes_columns                    = null
    phenotypes_binary_trait               = null
    regenie_test                          = null

    //Optional inputs
    outdir                                = null
    project_date                          = "`date`"
    covariates_filename                   = 'NO_COV_FILE'
    covariates_columns                    = ''
    phenotypes_delete_missings            = false


    //SNP_PRUNING process
    prune_enabled                         = false
    prune_maf                             = 0.01
    prune_window_kbsize                   = 1000
    prune_step_size                       = 100
    prune_r2_threshold                    = 0.9

    //QC_FILTER process
    qc_maf                                = '0.01'
    qc_mac                                = '100'
    qc_geno                               = '0.1'
    qc_hwe                                = '1e-15'
    qc_mind                               = '0.1'

    //REGENIE_STEP1 + REGENIE_STEP_2 process
    regenie_bsize_step1                   = 1000
    regenie_bsize_step2                   = 400
    regenie_sample_file                   = 'NO_SAMPLE_FILE'
    regenie_skip_predictions              = false
    regenie_min_imputation_score          = 0.00
    regenie_min_mac                       = 5
    regenie_range                         = ''
    regenie_firth                         = true
    regenie_firth_approx                  = true
    regenie_force_step1                   = false
    regenie_ref_first                     = false
    //FILTER_RESULTS step
    annotation_min_log10p                 = 5

    //REPORT process
    plot_ylimit                           = 0
    manhattan_annotation_enabled          = true


}

// Load base.config by default for all pipelines
includeConfig 'conf/base.config'

process.container = 'quay.io/genepi/nf-gwas:v0.3.5'

profiles {
    debug { process.beforeScript          = 'echo $HOSTNAME' }

    test  {
         includeConfig 'conf/test.config'
    }

    docker {
        docker.enabled                    = true
        docker.userEmulation              = true
        singularity.enabled               = false
    }

    singularity {
        singularity.enabled               = true
        singularity.autoMounts            = true
        docker.enabled                    = false
    }

    development {
        process.container                 = 'genepi/nf-gwas:latest'
        docker.enabled                    = true
        docker.userEmulation              = true
        resume                            = true
        singularity.enabled               = false
    }

    slurm {
        process.executor                  = 'slurm'
        errorStrategy = {task.exitStatus == 143 ? 'retry' : 'terminate'}
        maxErrors = '-1'
        maxRetries = 3
        singularity.enabled               = true
        singularity.autoMounts            = true
        docker.enabled                    = false
    }

    slurm_with_scratch {
        process.executor                  = 'slurm'
        process.scratch                   = true
        errorStrategy = {task.exitStatus == 143 ? 'retry' : 'terminate'}
        maxErrors = '-1'
        maxRetries = 3
        singularity.enabled               = true
        singularity.autoMounts            = true
        docker.enabled                    = false

    }

}
