/*
========================================================================================
    Nextflow config file for running tests
========================================================================================
*/

process {

    withLabel: 'process_plink2' {
        cpus   =  1
        memory =  1.GB
    }

    //
    withLabel: 'required_memory_report' {
        memory =  1.GB
    }

    withName: 'REGENIE_STEP1|REGENIE_STEP2'
    {
        cpus   = 1
        memory = 1.GB
    }

}
