/*
========================================================================================
    Nextflow config file for running tests
========================================================================================
*/

process {

    withLabel: 'process_plink2' {
        cpus   =  1
        memory =  1.GB
    }

}
