process {

    withLabel: 'process_plink2' {
        cpus   =  4
        memory =  6.GB
    }

    withLabel: 'required_memory_report' {
        memory =  6.GB
    }

    //recommend to run regenie using multi-threading (8+ threads)
    withName: 'REGENIE_STEP1|REGENIE_STEP2'
    {
        cpus   = 8
        memory = 8.GB
    }

}
