/*
========================================================================================
    Nextflow config file for running minimal tests
========================================================================================
    Defines input files and everything required to run a fast and simple pipeline test.
    Use as follows:
        nextflow run genepi/nf-gwas -r <tag> -profile test,<docker/singularity>
----------------------------------------------------------------------------------------
*/

params {
    project                       = 'test-gwas'
    genotypes_array               = "$baseDir/tests/input/pipeline/example.{bim,bed,fam}"
    genotypes_imputed             = "$baseDir/tests/input/pipeline/example.bgen"
    genotypes_build               = 'hg19'
    genotypes_imputed_format      = 'bgen'
    phenotypes_filename           = "$baseDir/tests/input/pipeline/phenotype.txt"
    phenotypes_columns            = 'Y1,Y2'
    phenotypes_binary_trait       = false
    regenie_test                  = 'additive'
    annotation_min_log10p         = 2
}

process {

    withLabel: 'process_plink2' {
        cpus   =  1
        memory =  1.GB
    }

    //
    withLabel: 'required_memory_report' {
        memory =  1.GB
    }

    withName: 'REGENIE_STEP1|REGENIE_STEP2'
    {
        cpus   = 1
        memory = 1.GB
    }

}
