/*
========================================================================================
    Nextflow config file for running minimal tests
========================================================================================
    Defines input files and everything required to run a fast and simple pipeline test.
    Use as follows:
        nextflow run genepi/nf-gwas -r <tag> -profile test_gene,<docker/singularity>
----------------------------------------------------------------------------------------
*/

params {
    project                       = 'test-gene-level'
    genotypes_array               = "$baseDir/tests/input/pipeline/example.{bim,bed,fam}"
    genotypes_imputed             = "$baseDir/tests/input/pipeline/example.bgen"
    genotypes_build               = 'hg19'
    genotypes_imputed_format      = 'bgen'
    phenotypes_filename           = "$baseDir/tests/input/pipeline/phenotype_bin.txt"
    phenotypes_columns            = 'Y1,Y2'
    phenotypes_binary_trait       = true
    covariates_filename           = "$baseDir/tests/input/pipeline/covariates.txt"
    covariates_columns            = "V1,V2,V3"
    regenie_test                  = 'additive'
    annotation_min_log10p         = 2
    regenie_bsize_step1           = 200
    regenie_gene_masks            = "$baseDir/tests/input/gene_level/example.masks"
    regenie_gene_setlist          = "$baseDir/tests/input/gene_level/example.setlist"
    regenie_gene_annot            = "$baseDir/tests/input/gene_level/example.annotation"
    qc_maf                        = 0
    qc_mac                        = 0
    qc_geno                       = 1
    regenie_gene_test             = 'skato'
    regenie_gene_aaf              = '0.1,0.05'
    outdir                        = "$baseDir/output/test-gene-level"
}

process {

    withLabel: 'process_plink2' {
        cpus   =  1
        memory =  1.GB
    }

    //
    withLabel: 'required_memory_report' {
        memory =  1.GB
    }

    withName: 'REGENIE_STEP1|REGENIE_GENE'
    {
        cpus   = 1
        memory = 1.GB
    }

}
