name: Run Tests

on: [push, pull_request]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 11
      uses: actions/setup-java@v2
      with:
        java-version: '11'
        distribution: 'adopt'
    - name: Install Nextflow
      run: curl -s https://get.nextflow.io | bash
    - name: Set Nextflow Permissions
      run: chmod +x nextflow
    - name: Set Nextflow Permissions
      run:  ./run-tests.sh
      
     

